<!-- visit : https://bootstrapious.com/p/bootstrap-sidebar -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{#if post}}
        {{post.blogTitle}}
        {{else}}
        Dashbaord
        {{/if}}
    </title>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {{!-- removing the slim version --}}
    {{!-- https://code.jquery.com/jquery-3.4.1.slim.min.js --}}


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- font awesom 5 kit code -->
    <script src="https://kit.fontawesome.com/e00a1e7cf5.js" crossorigin="anonymous"></script>


    {{!-- Added ../ in script tag --}}
    <!-- my script for dashboard side-navbar -->
    <script src="../scripts/dashnav.js"></script>

    <!-- my script for likePost -->
    <script src="../scripts/likePost.js"></script>

    <!-- my gttButton -->
    <script src="../scripts/gttButton.js"></script>

    </script>
    <style>
        html {
            scroll-behavior: smooth;
        }

        #main {
            background-color: #F7F4F3;
            min-height: 100vh;
            word-wrap: break-word;
        }

        /* pageContent ki css */
        .cardEff {
            /* shadow  */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

        .cardEff:hover {
            box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.4);
        }

        #pageContent {
            min-height: 100vh;
            display: block;
        }

        .blackCont {
            /* word-wrap: break-word; */
            background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(32, 45, 58, 1) 0%, rgba(90, 92, 106, 1) 81.3%);
            border-radius: 0% 100% 100% 0% / 0% 50% 50% 100%;
        }

        .offWhiteContainer {
            background-color: #F7F4F3;
            border-radius: 100% 0% 0% 100% / 50% 100% 0% 50%
        }

        #post {
            background-color: white;
        }

        #likePost {
            transform: scale(1.1);
        }

        #likePost:hover {
            color: #FF7733;
            transform: scale(1.4);
            transition: 0.3s;
        }

        #likePost:active {

            transform: scale(1.1);
            transition: 0.1s;
        }

        .grayColored {
            color: #232C33;
        }

        .redColored {
            color: #C70210;
        }

        .tooltip {
            z-index: 99999;
        }

        a#trendingLink {
            color: white;
        }

        a#trendingLink:hover {
            text-decoration: none;
        }
    </style>

    {{> dashnavStyling}}

    {{> gttButtonStyling}}

</head>

<body>

    <div class="d-flex" id="main">

        <!-- sidebar here -->
        {{> dashnavPartial}}


        <div id="pageContent" class="p-3">

            <!-- welcome user -->
            <div class="cardEff p-2 h5" style="display: inline;">
                {{#if firstName}}
                Welcome to BlogItOut, {{firstName}}!
                {{else}}
                Welcome to BlogItOut, Mortal!
                {{/if}}
            </div>
            <hr>

            {{#if oopsMessage}}
            {{> oopsMessage}}
            {{/if}}

            {{#if post}}
            <div id="post" class="p-3 mt-4 mb-5 cardEff">
                <p class="h3 text-center">
                    {{post.blogTitle}}
                </p>
                <p class="h6 text-center text-uppercase font-italic font-weight-light mt-2">
                    {{#if post.blogTags}}
                    [ {{post.blogTags}} ]
                    {{/if}}

                </p>

                <hr class="mb-3">

                <p class="text-justify mt-3">
                    {{post.blogBody}}
                    post post post post post post post post
                    post post post post post post post post
                    <br>
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    <br>
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    <br>
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    post post post post post post post post
                    <br>
                </p>
                <hr>

                {{!-- DATE POSTED FOR A POST --}}

                <p class="text-right font-italic font-weight-light" id="datePosted">
                    {{#if post.datePosted}}
                    {{{ splitDate post.datePosted}}}
                    {{/if}}
                </p>

                <p class="text-left" id="authorName">
                    {{post.author}}
                </p>

                <p class="text-left d-none" id="authorId">
                    {{post.authorId}}
                </p>

                {{!-- add like box --}}
                <p>
                    <i class="fas fa-heart" id="likePost" data-toggle="tooltip" title="Like Me!"></i>
                    &nbsp;
                    <span id="likesCount" class="font-italic font-weight-bold">
                        {{post.likesCount}}
                    </span>

                </p>

            </div>
            <hr>

            {{/if}}


            {{#if trendingBlog}}
            <div class="blackCont d-flex flex-column justify-content-center align-items-center p-5 mt-3">

                <div class="offWhiteContainer d-flex flex-column justify-content-center align-items-center p-5">

                    <div class="cardEff p-2 h4 mt-4 mb-4" style="display: inline; color: black;">
                        Trending on BlogItOut.
                    </div>

                    {{!-- NOTE  --}}
                    {{!-- Now we have to add the link of te Trending blog here --}}
                    {{!-- Jab bhi dashboard render hoga tab ye most trending blog bhi render hoga  --}}
                    <a href="/dashboard/?blogId={{trendingBlog._id}}" id="trendingLink">
                        <div class="cardEff p-4 mt-4 mb-4" style="background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">

                            <p class="h3 text-center">
                                {{trendingBlog.blogTitle}}
                            </p>

                            {{#if trendingBlog.blogTags}}
                            <p class="h6 text-center text-uppercase font-italic font-weight-light">
                                [ {{trendingBlog.blogTags}} ]
                            </p>
                            {{/if}}

                            <hr>
                            {{#if trendingBlog.blogBody}}
                            <p class="text-justify mt-3">
                                {{trendingBlog.blogBody}}
                            </p>
                            <hr>
                            {{/if}}

                            {{#if trendingBlog.datePosted}}
                            <p class="text-right font-italic font-weight-light" id="datePosted">
                                {{{ splitDate trendingBlog.datePosted}}}
                            </p>
                            {{/if}}

                            {{#if trendingBlog.author}}
                            <p class="text-left">
                                {{trendingBlog.author}}
                            </p>
                            {{/if}}

                        </div>
                    </a>

                </div>
            </div>
            {{/if}}

        </div>


    </div>

    {{!-- Partial for Go-To-Top Button --}}
    {{> gttButtonPartial}}

</body>

</html>