<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{#if title}}
        BlogItOut - {{title}}
        {{else}}
        BlogItOut
        {{/if}}
    </title>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- my script -->
    <script src="/scripts/navbar-indexScript.js"></script>

    <script src="../scripts/canvas.js"></script>

    <!-- font awesom 5 kit code -->
    <script src="https://kit.fontawesome.com/e00a1e7cf5.js" crossorigin="anonymous"></script>

    {{!-- main branf font --}}
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">


    <style>
        html {
            scroll-behavior: smooth;
        }

        body {
            /* overflow: hidden; */
            overflow-x: hidden;
            margin: 0;
            background-color: #343a40;
            color: white;
            /* #262B2F;*/
            font-family: 'Roboto', sans-serif;
        }

        canvas {
            background-color: #262B2F;
            /* setting up the height and wdht through javascript */

            position: absolute;
            top: 0;
            left: 0;

            color: white;

            z-index: -1;
        }

        .landingContent {
            min-height: 100vh;
        }

        .brandFont {
            font-family: 'Satisfy', cursive;

        }

        .brandLink {
            color: #262B2F;
            text-shadow: 1px 1px 6px #FFFFFF;
            transition: 0.3s;
        }

        .brandLink:hover {
            text-decoration: none;
            color: #262B2F;
        }

        .cover {
            background: rgba(247, 244, 243, .7);
        }

        .offWhiteContainer {
            min-height: 100vh;
            background-color: #F7F4F3;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .darkContainer {
            background-color: #28231C;
        }

        .offWhiteContainer-2 {
            background-color: #F7F4F3;

        }

        a#trendingLink {
            color: white;
        }

        a#trendingLink:hover {
            text-decoration: none;
        }

        .cardEff {
            /* shadow  */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

        .cardEff:hover {
            box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.4);
        }
    </style>

    {{> navbarStyling}}
    {{> gttButtonStyling}}

</head>

<body>

    {{> navbarIndexPartial}}

    <canvas id="myCanvas">
    </canvas>

    <div class="container landingContent d-flex flex-column justify-content-center">
        <div class="row justify-content-center px-0 py-5 align-contents-center">

            <div class="col-5 col-sm-12 mb-5">
                <div class="text-center">
                    <img src="/img/Logo_96.png" alt="logo">
                    {{!-- <img src="/img/blogLogo_48.png" alt=""> --}}
                    {{!-- <img src="/img/blogLogo_32.png" alt=""> --}}
                </div>
            </div>

            <div class="col-7 col-sm-6 p-2 align-self-center mt-3 text-center cover">
                <a href="/" class="brandLink">
                    <span class="brandFont" style="font-size :3em">BlogItOut</span>
                </a>
            </div>
        </div>

    </div>


    <div class="container-fluid offWhiteContainer p-5 text-center">

        <div class="container-fluid darkContainer p-5">

            <div class="container-fluid offWhiteContainer-2 p-4" style="color: black">
                <div class="cardEff p-2 h4 mt-4 mb-4" style="display: inline; color: black;">
                    Trending on <span class="brandFont">&nbsp;BlogItOut.</span>
                </div>

                {{#if oopsMessage}}
                {{> oopsMessage}}
                {{/if}}

                {{#if trendingBlog}}


                {{!-- NOTE  --}}
                {{!-- Now we have to add the link of te Trending blog here --}}
                {{!-- Jab bhi dashboard render hoga tab ye most trending blog bhi render hoga  --}}
                <a href="/dashboard/?blogId={{trendingBlog._id}}" id="trendingLink">
                    <div class="cardEff p-4 mt-4 mb-4" style="background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">

                        <p class="h3 text-center">
                            {{trendingBlog.blogTitle}}
                        </p>

                        {{#if trendingBlog.blogTags}}
                        <p class="h6 text-center text-uppercase font-italic font-weight-light">
                            [ {{trendingBlog.blogTags}} ]
                        </p>
                        {{/if}}

                        <hr>
                        {{#if trendingBlog.blogBody}}
                        <p class="text-justify mt-3">
                            {{trendingBlog.blogBody}}
                        </p>
                        <hr>
                        {{/if}}

                        {{#if trendingBlog.datePosted}}
                        <p class="text-right font-italic font-weight-light" id="datePosted">
                            {{{ splitDate trendingBlog.datePosted}}}
                        </p>
                        {{/if}}

                        {{#if trendingBlog.author}}
                        <p class="text-left">
                            {{trendingBlog.author}}
                        </p>
                        {{/if}}

                    </div>
                </a>

                {{/if}}
            </div>

        </div>

    </div>
    <div class="container text-justify p-4" style="color: white;">
        <div class="row">

            <div class="col-12 col-sm-4">
                Donec sapien ante, feugiat cursus pulvinar aliquam, elementum non lacus. Aenean pretium nulla nisi,
                tempus
                molestie est luctus a. Pellentesque ex metus, aliquet at dolor ut, sagittis ultrices dolor. Fusce
                efficitur
                auctor rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam est elit, feugiat non enim
                eu,
                dictum porttitor tellus. Aliquam sollicitudin sapien urna, eu tempus arcu fermentum in. Fusce nisl
                tortor,
                pulvinar eu ante quis, accumsan eleifend mi. Maecenas pharetra mauris id quam fringilla cursus.
                Curabitur
                sodales tincidunt nunc, vitae tincidunt quam. Phasellus iaculis vehicula mollis.

                Pellentesque a felis sagittis lacus tempus fringilla pellentesque a ante. Integer id finibus leo. Ut
                ornare
                urna
                eget mauris pellentesque, et interdum nulla tincidunt. Vestibulum eu auctor dui. Praesent efficitur
                iaculis
                ex,
                ac fringilla lorem imperdiet in. Etiam accumsan pellentesque sagittis. Aliquam erat volutpat. Nullam
                mollis
                mi
                quis orci ornare facilisis. Donec eget dictum est, quis gravida lectus.
            </div>
            <div class="col-12 col-sm-4">
                Etiam dictum, nulla id auctor venenatis, ex eros dapibus sem, id molestie nisi massa eget nisi. In quam
                nulla,
                luctus vitae varius eu, vulputate sit amet arcu. Class aptent taciti sociosqu ad litora torquent per
                conubia
                nostra, per inceptos himenaeos. Phasellus leo dui, pretium a egestas vitae, ullamcorper vel nibh. Aenean
                posuere
                sollicitudin ex in pretium. In molestie vitae dui sit amet accumsan. Etiam molestie aliquet magna, ut
                malesuada
                erat hendrerit ut. Etiam volutpat lorem quis vehicula rutrum. Nullam laoreet felis nec tincidunt mattis.
                Duis
                dapibus quis tortor sit amet viverra. Vestibulum ultrices porta neque sit amet tempor.

                Ut eu orci efficitur, varius purus mattis, porta tortor. Pellentesque vel leo bibendum, tristique arcu
                eu,
                ornare nisi. Quisque volutpat euismod libero ut luctus. Curabitur ut interdum mi. Proin suscipit feugiat
                ex,
                eget malesuada massa pellentesque vel. Praesent nec urna non nibh blandit sollicitudin et in purus.
                Morbi
                eget
                mauris ac lorem semper congue non et lectus. Sed eget ligula non diam suscipit euismod. Maecenas gravida
                congue
                hendrerit. Praesent eleifend lorem in nibh volutpat cursus. Vestibulum nec ullamcorper odio. Duis
                lacinia
                imperdiet velit. In interdum vitae purus ut molestie. Quisque semper vel arcu a porttitor. Duis molestie
                lectus
                massa, vel venenatis orci bibendum ac.

                Aliquam maximus at lorem eu tincidunt. Aliquam auctor ullamcorper nisi. Pellentesque vitae dui eu velit
                elementum feugiat. Sed commodo odio sit amet dolor egestas aliquet. Phasellus dapibus pharetra neque, in
                dapibus
                nisi fermentum consequat. Etiam faucibus commodo ligula at luctus. Duis tristique diam at dui suscipit
                facilisis. Quisque posuere ex sed arcu tristique eleifend. In a turpis massa. Donec interdum venenatis
                nulla
                ac
                faucibus.

            </div>
            <div class="col-12 col-sm-4">
                Donec hendrerit dolor quis leo porta, a vestibulum lacus mollis. Mauris tincidunt lacinia tincidunt.
                Quisque
                sed
                enim ut nunc maximus efficitur. Quisque sed auctor ipsum, et iaculis ex. Duis vitae diam convallis,
                semper
                magna
                eu, semper nulla. Mauris lectus lorem, efficitur gravida ullamcorper eget, pellentesque eu dolor.
                Integer
                consectetur in urna eu venenatis. Duis eu velit ut justo varius maximus. Sed id dui rutrum elit finibus
                ultrices
                at quis lectus. Etiam sollicitudin, turpis at pellentesque tristique, risus nisi cursus magna, nec
                cursus
                lorem
                neque id enim. Fusce tincidunt lacus in malesuada eleifend. Vestibulum rutrum massa ante, et venenatis
                mauris
                feugiat placerat.

                Nulla facilisi. Praesent porta mauris libero, ut dictum metus eleifend id. Quisque mattis sit amet
                tortor
                vel
                vestibulum. Suspendisse pharetra diam nulla, a ultricies elit sagittis pretium. Pellentesque laoreet
                sodales
                arcu a pellentesque. Quisque congue sem a ligula cursus ornare. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Quisque scelerisque ex mi. Quisque id semper justo. Fusce bibendum efficitur sapien,
                non
                rutrum
                eros aliquam vitae. In suscipit imperdiet molestie. Phasellus maximus, elit et aliquet vestibulum, velit
                neque
                pellentesque purus, in cursus ipsum dui id orci. Sed non urna turpis. Fusce lobortis, quam non faucibus
                molestie, lacus ipsum suscipit ligula, vel cursus libero massa quis magna.
            </div>

        </div>

        <div class="container-fluid text-justify p-4" style="background-color: #F7F4F3;color: #262B2F;">

            <div class="row">
                <div class="col-7">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut venenatis enim, in consectetur
                    dui.
                    Aliquam eu cursus erat. Curabitur sem ligula, aliquam non metus a, sollicitudin aliquam ligula.
                    Integer
                    aliquet
                    leo rhoncus libero maximus condimentum. Cras eu malesuada sem. Phasellus congue, diam vehicula
                    accumsan
                    pellentesque, ante tortor dignissim erat, eget ullamcorper diam metus quis magna. Cras imperdiet
                    mattis
                    lectus
                    ut faucibus. Vivamus iaculis tempor ligula et gravida. Duis ullamcorper odio at auctor faucibus.
                    Praesent
                    faucibus ac tortor tempus semper. Nunc dignissim augue nec ex dapibus rhoncus. Pellentesque viverra
                    in
                    nunc eget
                    finibus. Vestibulum non nulla eleifend, convallis sem ut, sollicitudin dolor. In non viverra neque,
                    a
                    ultricies
                    velit. Vivamus blandit porta faucibus. Fusce egestas gravida libero, ut sollicitudin arcu luctus at.

                    Phasellus tincidunt ipsum metus, condimentum condimentum metus viverra vel. Nam in metus sed turpis
                    facilisis
                    luctus. Aliquam nisl dui, euismod ut felis quis, finibus vehicula dui. Sed at enim vitae ex
                    tincidunt
                    sodales at
                    ac elit. Sed sollicitudin finibus odio, et pharetra eros rutrum sed. Duis blandit, nisi sit amet
                    pellentesque
                    lobortis, eros dui rutrum dui, et elementum arcu ligula placerat sapien. Praesent vitae turpis
                    suscipit,
                    sagittis orci nec, gravida turpis. Pellentesque dapibus ex id eros venenatis ullamcorper vitae in
                    tellus.
                    Pellentesque ornare tincidunt diam at mollis. Mauris dictum libero neque.

                    Quisque massa odio, eleifend nec tellus ut, imperdiet sollicitudin ante. Aliquam viverra at risus a
                    mattis.
                    Curabitur sit amet enim vitae arcu consectetur pulvinar id vel elit. Donec pulvinar elit id ipsum
                    fermentum
                    lacinia. Praesent finibus, enim nec maximus placerat, dui ex fringilla urna, et blandit massa nulla
                    ac
                    eros.
                    Vivamus tempor, urna nec malesuada molestie, tortor nibh aliquam odio, vitae convallis nibh libero
                    vel
                    augue.
                    Praesent pretium varius dolor, vel tristique nisi sagittis eu.

                    Donec sapien ante, feugiat cursus pulvinar aliquam, elementum non lacus. Aenean pretium nulla nisi,
                    tempus
                    molestie est luctus a. Pellentesque ex metus, aliquet at dolor ut, sagittis ultrices dolor. Fusce
                    efficitur
                    auctor rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam est elit, feugiat non
                    enim
                    eu,
                    dictum porttitor tellus. Aliquam sollicitudin sapien urna, eu tempus arcu fermentum in. Fusce nisl
                    tortor,
                    pulvinar eu ante quis, accumsan eleifend mi. Maecenas pharetra mauris id quam fringilla cursus.
                    Curabitur
                    sodales tincidunt nunc, vitae tincidunt quam. Phasellus iaculis vehicula mollis.

                    Pellentesque a felis sagittis lacus tempus fringilla pellentesque a ante. Integer id finibus leo. Ut
                    ornare urna
                    eget mauris pellentesque, et interdum nulla tincidunt. Vestibulum eu auctor dui. Praesent efficitur
                    iaculis ex,
                    ac fringilla lorem imperdiet in. Etiam accumsan pellentesque sagittis. Aliquam erat volutpat. Nullam
                    mollis mi
                    quis orci ornare facilisis. Donec eget dictum est, quis gravida lectus.

                </div>
                <div class="col-5">
                    Etiam dictum, nulla id auctor venenatis, ex eros dapibus sem, id molestie nisi massa eget nisi. In
                    quam
                    nulla,
                    luctus vitae varius eu, vulputate sit amet arcu. Class aptent taciti sociosqu ad litora torquent per
                    conubia
                    nostra, per inceptos himenaeos. Phasellus leo dui, pretium a egestas vitae, ullamcorper vel nibh.
                    Aenean
                    posuere
                    sollicitudin ex in pretium. In molestie vitae dui sit amet accumsan. Etiam molestie aliquet magna,
                    ut
                    malesuada
                    erat hendrerit ut. Etiam volutpat lorem quis vehicula rutrum. Nullam laoreet felis nec tincidunt
                    mattis.
                    Duis
                    dapibus quis tortor sit amet viverra. Vestibulum ultrices porta neque sit amet tempor.

                    Ut eu orci efficitur, varius purus mattis, porta tortor. Pellentesque vel leo bibendum, tristique
                    arcu
                    eu,
                    ornare nisi. Quisque volutpat euismod libero ut luctus. Curabitur ut interdum mi. Proin suscipit
                    feugiat
                    ex,
                    eget malesuada massa pellentesque vel. Praesent nec urna non nibh blandit sollicitudin et in purus.
                    Morbi eget
                    mauris ac lorem semper congue non et lectus. Sed eget ligula non diam suscipit euismod. Maecenas
                    gravida
                    congue
                    hendrerit. Praesent eleifend lorem in nibh volutpat cursus. Vestibulum nec ullamcorper odio. Duis
                    lacinia
                    imperdiet velit. In interdum vitae purus ut molestie. Quisque semper vel arcu a porttitor. Duis
                    molestie
                    lectus
                    massa, vel venenatis orci bibendum ac.

                    Aliquam maximus at lorem eu tincidunt. Aliquam auctor ullamcorper nisi. Pellentesque vitae dui eu
                    velit
                    elementum feugiat. Sed commodo odio sit amet dolor egestas aliquet. Phasellus dapibus pharetra
                    neque, in
                    dapibus
                    nisi fermentum consequat. Etiam faucibus commodo ligula at luctus. Duis tristique diam at dui
                    suscipit
                    facilisis. Quisque posuere ex sed arcu tristique eleifend. In a turpis massa. Donec interdum
                    venenatis
                    nulla ac
                    faucibus.

                    Donec hendrerit dolor quis leo porta, a vestibulum lacus mollis. Mauris tincidunt lacinia tincidunt.
                    Quisque sed
                    enim ut nunc maximus efficitur. Quisque sed auctor ipsum, et iaculis ex. Duis vitae diam convallis,
                    semper magna
                    eu, semper nulla. Mauris lectus lorem, efficitur gravida ullamcorper eget, pellentesque eu dolor.
                    Integer
                    consectetur in urna eu venenatis. Duis eu velit ut justo varius maximus. Sed id dui rutrum elit
                    finibus
                    ultrices
                    at quis lectus. Etiam sollicitudin, turpis at pellentesque tristique, risus nisi cursus magna, nec
                    cursus lorem
                    neque id enim. Fusce tincidunt lacus in malesuada eleifend. Vestibulum rutrum massa ante, et
                    venenatis
                    mauris
                    feugiat placerat.

                    Nulla facilisi. Praesent porta mauris libero, ut dictum metus eleifend id. Quisque mattis sit amet
                    tortor vel
                    vestibulum. Suspendisse pharetra diam nulla, a ultricies elit sagittis pretium. Pellentesque laoreet
                    sodales
                    arcu a pellentesque. Quisque congue sem a ligula cursus ornare. Lorem ipsum dolor sit amet,
                    consectetur
                    adipiscing elit. Quisque scelerisque ex mi. Quisque id semper justo. Fusce bibendum efficitur
                    sapien,
                    non rutrum
                    eros aliquam vitae. In suscipit imperdiet molestie. Phasellus maximus, elit et aliquet vestibulum,
                    velit
                    neque
                    pellentesque purus, in cursus ipsum dui id orci. Sed non urna turpis. Fusce lobortis, quam non
                    faucibus
                    molestie, lacus ipsum suscipit ligula, vel cursus libero massa quis magna.s
                </div>
            </div>

        </div>
</body>

</html>